/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0px;
  padding: 0px;
}


/* ここからCSSを記述してください */


.header2{
 background-color: #26d0c9;
height:95px;
width:1500px
}
li {list-style:none;
float:left;
  
  
  color: #fff;
  
}

div{ float:left;
}

.title{
font-size:36px;
padding:1px 1px 20px 1px;
margin:20px 20px 0px 40px;
font-family:"Avenir Next";
color:#fff;

}


.pro{margin:16px 20px 17px 20px;
font-size:20px;
}

.mana{margin:16px 20px 17px 20px;
font-size:20px;
}

.oto{margin:16px 20px 17px 20px;
  font-size:20px;
}
h1,h2,h4,textarea{ 
  
}


.hel{ padding-top:100px;
      font-size:150px;
      font-family:"Avenir Next";
padding-left:80px;
}

span{ color:red;
}

.prog{font-size:65px;
      padding:1px 1px 120px 90px;
}

.manab{font-size:30px;
      
       border-bottom:  3px solid #dee7ec;
       margin-left:90px;
       padding-bottom:15px;
}

.icon{margin-top:50px;
  
  
}
.icon1{
      margin-left:90px;
      
      
}
.icon2{
       margin-left:40px;
}


.icon3{
       margin-left:40px;
}

.icon4{
      margin-left:40px;
}
.ht{padding-top:40px;
    font-size:30px;
    font-family:"Avenir Next";
    padding-bottom:150;
}
.oto2 {font-size:30px;
       border-bottom: 2px solid #dee7ec;
       
       margin-left:80px;
       
}

.text{padding-left:80px;
     padding-top:50px;
     
}
textarea,input{
      margin-top:10px;
      margin-bottom:30px;
      
      border:10px solid #dee7ec;
      
      
}

